
		<div class="enter_password">
			<input class="box" type="password">
			<input class="box" type="password">
			<input class="box" type="password">
			<input class="box" type="password">
		</div>
		<div class="text">请输入微信支付密码</div>
<style>

body{
 background: #f5f5f5;
}

</style>
<script type="text/javascript">
	

$(function(){
	//窗口适配
	window.onresize=function(){
		var _width=document.documentElement.clientWidth || document.body.clientWidth;
		document.documentElement.style.fontSize=_width/414*100+'px';
	};
	//当键盘抬起时让input框失去焦点，下一个input框获取焦点
	$(".box").each(function(){
		var _index=$(this).index();
		$(this).keyup(function(){
			$(this).blur()
			$(".box").eq(_index+1).focus()
		})
	})
})	
</script>
